<div class="screen-1">
  <div class="container-fluid">
    <div class="row">
      <div class="text-center">
        <span class="headline">Login</span>
      </div>
      <dx-form>
        <!-- <div class="uaername"> -->
        <dxi-item name="username" dataField="Username ">
          <dxi-validation-rule
            type="required"
            message="Username is required"
          ></dxi-validation-rule>
          <dx-text-box
            class="username"
            type="text"
            [(ngModel)]="login.UserName"
          ></dx-text-box>
        </dxi-item>

        <dxi-item name="password" for="password" dataField="Password">
          <dxi-validation-rule
            type="required"
            message="Password is required"
          ></dxi-validation-rule>
          <dx-text-box
            class="password"
            type="password"
            [(mode)]="passwordMode"
            [(ngModel)]="login.Password"
          ></dx-text-box>
        </dxi-item>
      </dx-form>
      <div class="button">
        <dx-button class="login" (click)="onSubmit()">Login</dx-button>
      </div>
      <div class="footer"><a href="/register">Create Account!</a></div>
    </div>
  </div>
</div>
<div></div>
