
body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
* {
  font-family: "Poppins";
}

  .header{
    padding-top : 50px;
  }
  .spacing{
    padding-top: 50px
  }
